<h1><i class="fa fa-user"></i> Empleado</h1>
<h4>{{ alumno.nombre }} {{ alumno.apellido }}</h4>
<hr>

<div class="row">
	<form ng-submit="guardarAlumno()">
		<div class="alert alert-success animated fadeIn fast" ng-show="actualizado">
    	<strong>Registro Actualizado</strong>
  		</div>
		<!--p class="text-success animated fadeIn fast"  ng-show="actualizado">Registro Actualizado</p-->
		Nombre:
		<br>
		<input type="text" class="form-control" ng-model="alumno.nombre" required placeholder="Nombre del empleado">
		<br>

		Apellido:
		<br>
		<input type="text" class="form-control" ng-model="alumno.apellido"  required>
		<br>

		Fecha de Nacimiento:
		<br>
		
		<input type="text" class="form-control" ng-model="alumno.fechanacimiento"  required placeholder="2017-10-20">
	
		<br>
		Sexo:
		<br>
		<select ng-model="alumno.sexo" class="form-control" required>
                    <option value="masculino">masculino</option>
                    <option value="femenino">femenino</option>
        </select>
		<br>

		Edad:
		<br>
		<input type="text" class="form-control" ng-model="alumno.edad"  required placeholder="35">
		<br>

		Nacionalidad:
		<br>
		<select ng-model="alumno.nacionalidad" class="form-control" required>
                    <option value="ecuatoriano">ecuatoriano</option>
                    <option value="mexicano">mexicano</option>
					<option value="peruano">peruano</option>
					<option value="argentino">argentino</option>
					<option value="colombiano">colombiano</option>
        </select>

		
		<br>

		Descripcion:
		<br>
		<textarea class="form-control" ng-model="alumno.descripcion" rows="5" required placeholder="descripcion de su actividad"></textarea>
		<br>
		
		<button type="submit" class="btn btn-primary">
			<i class="fa fa-floppy-o"></i>
			Guardar Cambios
		</button>

		

	</form>

</div>


